<html>
  <head>
    <meta charset="UTF-8" />
  </head>

<body style="width: 810px;margin: auto;">
<h1>完了！！</h1>
<h2>更に続ける</h2>
<form action="scrape" method="GET">
  <input name="url" type="text" />
  <button type="submit">Go!!</button>
</form>
</body>
</html>